
.logo{
    display: flex;
    margin: 0 auto;
    align-items: center;
}
.logo img{
    width: 120px;
    height: auto;
    margin: 0 auto;
}
.addresses{
    padding: 8px 14px;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.address{
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner{
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner img{
    width: 100%;
    height: 600px;
}
.welcome{
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(69, 170, 236);
}
.welcome h4{
    text-align: center;
    margin-bottom: 9px;
}
.welcome h2{
    text-align: center;
    margin-top: 9px;
}
.welcome p{
    text-align: center;
    max-width: 600px;
    margin-top: 9px;
}
.offer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;


}
.offer img{
    width: 100%;
    height: auto;
    padding-top: 20px;
    
    
}
.offer h3{
    text-align: center;
    width: 100%;
    padding: 40px 15px;
}
.offer p{
    max-width: 600px;
    width: 100%;
    padding: 10px 15px;

}
.card-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: rgb(254, 254, 230);
    }
    .card img{
        width: 100%;
        height: 350px;
        gap: 20px;
        border-radius: 10px;
        padding: 10px;
    }
    h2{
        text-align: center;
        
    }
    .reviews{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .form{
        width: 100%;
        height: auto;
        margin: 0 auto;
        margin-left: 100px;
    }
    input{
        display: flex;
        padding: 5px 150px;
        margin-bottom: 10px;
        text-align: start;
    
    }
    textarea{
        display: flex;
        padding: 40px 152px;
        margin-bottom: 10px;
        text-align: start;
    }
    button{
        padding: 10px 20px;
        color: tomato;
    }
    .footer-container{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color:rgb(238, 238, 212);
    }
    .footer-container h4, .footer-container p{
        text-align: center;
        color: black;
    }
